<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.mycompany.ranenhealthsystem.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientCheck</servlet-name>
        <servlet-class>com.mycompany.ranenhealthsystem.PatientCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.mycompany.ranenhealthsystem.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registers</servlet-name>
        <servlet-class>com.mycompany.ranenhealthsystem.Registers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>com.mycompany.ranenhealthsystem.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientController</servlet-name>
        <servlet-class>com.mycompany.ranenhealthsystem.PatientController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Master</servlet-name>
        <servlet-class>com.mycompany.ranenhealthsystem.Master</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>patientregister</servlet-name>
        <servlet-class>com.mycompany.ranenhealthsystem.patientregister</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registers</servlet-name>
        <url-pattern>/Registers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/HomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientController</servlet-name>
        <url-pattern>/PatientController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Master</servlet-name>
        <url-pattern>/Master</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>patientregister</servlet-name>
        <url-pattern>/patientregister</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
